<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <!--<a href="https://www.potogas.com/contacto.php">
                        Contact Us
                    </a>-->
                    <label>Plataforma Pre-Nomina V1.0</label>
                </li>
                <li>
                    <a href="https://www.potogas.com/quienes-somos.php">
                        About Us
                    </a>
                </li>


            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="#" target="">Hecho por Ixlte Tec.</a>.
        </div>
    </div>
</footer>
