<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" align="center"></div>
      <div class="col-md-4" align="center">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Sales Record</h4>
            <p class="card-category">Please Enter the Sales</p>
          </div>
          <div class="card-body">
            <form >
              <div class="row">

                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="" value="LocationID" disabled>
                  </mat-form-field>
                </div>
                <div class="dropdown col-md-6">
                  <button href="#" class="btn btn-primary" data-toggle="dropdown" aria-expanded="true" >
                    Shift
                    <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Morning Shift</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Night Shift</a></li>
                  </ul>
                </div>
                <div class="dropdown col-md-6">
                  <button href="#" class="btn btn-success" data-toggle="dropdown" aria-expanded="true" >
                    Services
                    <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li value="gas"><a href="#">Gas</a></li>
                    <li class="divider"></li>
                    <li value="cylinder"><a href="#">Cylinder</a></li>
                  </ul>
                </div>

                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="No of  Gas Units">
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="No of  Cylinder Units">
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Route ID">
                  </mat-form-field>
                </div>

                <div class="col-sm-12">

                  <input class="form-control col-3" type="date"> &nbsp;

                </div>


              </div>
              <button mat-raised-button type="submit" [routerLink]="['/sales-records']"  class="btn btn-danger pull-right">Save Sales</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4" align="center"></div>
    </div>
  </div>
</div>
