<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-26">
          <img src="../../../assets/img/PotoGas.png" class="login-logo">
        </span>
        <span class="login100-form-title p-b-48">
          <span class="zmdi zmdi-font">{{Informacion}}</span>
        </span>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="login()">
              Ir a Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
