ul {
  text-align: center;
}

.periodo{
//margin-right: 2px !important;
margin-left: 200px !important;
}

button{
  background-color: #F60;
}

.button:hover {
  background-color: green !important;
  color: #FFF;
}


form{
  padding:0px 0px 0px 377px;
}
