<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div align="center">
                        <form class="form-inline">
                            <div class="">
                                <button type="button" class="btn " (click)="litroscheck()">Litros</button>
                            </div>
                            <div class="periodo">
                                <button type="button" class="btn" (click)="serviciosscheck()">Servicios</button>
                            </div>
                            <div class="periodo">
                                <button type="button" class="btn " (click)="cilindroscheck()">Cilindros</button>
                            </div>
                        </form>
                    </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" style="overflow: auto;">
                        <!--<div>
                            <form class="form-inline">
                                <div class="">
                                    <label >PERIODO:</label>
                                </div>
                                <div class="periodo">
                                    <label>PERIODO ABIERTO:</label>
                                </div>
                                <div class="periodo">
                                    <label>Autotanque- Servios:</label>
                                </div>
                            </form>
                        </div>-->


                        <div [hidden]="litros" id="litros"></div>
                        <div  [hidden]="servicioss" id="servicios"></div>
                        <div [hidden]="cilindros" id="cilindros"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
