<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!--<div>
                            <form class="form-inline">
                                <div class="">
                                    <label >PERIODO:</label>
                                </div>
                                <div class="periodo">
                                    <label>PERIODO ABIERTO:</label>
                                </div>
                                <div class="periodo">
                                    <label>Autotanque- Servios:</label>
                                </div>
                            </form>
                        </div>-->

                        <div align="center">
                            <form class="form-inline">
                                <div class="">
                                    <button type="button" class="btn btn-primary" (click)="litros = true">Litros</button>
                                </div>
                                <div class="periodo">
                                    <button type="button" class="btn btn-primary" (click)="servicioss = true">Servicios</button>
                                </div>
                                <div class="periodo">
                                    <button type="button" class="btn btn-primary" (click)="cilindros= true">Cilindros</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="litros === true" id="litros"></div>
                        <div *ngIf="servicioss === true" id="servicios"></div>
                        <div *ngIf="cilindros === true" id="cilindros"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
